
footer {
	background-color: #333333;
	color: white;
<<<<<<< HEAD
	}
.top-bar {
	width: 100%;
	position: fixed;
}

=======
}

.top-bar {
	width: 100%;
	position: fixed;
}
>>>>>>> f577680e18b0dd6740b222b532a7510d79cc15d7
